<div class="container" style="padding-top: 10px;">
    <div class="text-center px-5">
        <%# <div class="card-columns"> %>
            <div class="card">
                <div class="card-body">
                    <h1>Make a note:</h1> <br>

                    <% if flash[:errors] %>
                        <p><%= flash[:errors].count %> error(s)</p>
                        <ul>
                            <% flash[:errors].each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    <% end %>
                    <%= form_with model: @note, url: group_notes_path do |f| %>
                        <h4><%= f.label "Title: " %></h4>
                        <%= f.text_field :title %><br>
                        <h4><%= f.label "Content: " %> <br></h4>
                        <div class="form-group">
                            <%= f.text_area :content, id: 'form7', class: 'form-control rounded-0', rows: 7, cols: 5 %><br>
                            <%= f.submit %>
                        </div>
                    <% end %>
                </div>
            </div>
        <%# </div> %>
    </div>
</div>