<div class="container" style="padding-top: 10px;">
    <div class="text-center px-5">
        <%# <div class="card-columns"> %>
            <div class="card">
                <div class="card-body">
                    <h1>Note title: <%= @note.title %></h1>

                    <h3>Content: <%= @note.content %></h3>
                    <div class="container">
                    <ul style="list-style: none">
                    <h4>Comments: </h4>
                    <% @comments.each do |c| %>
                        <li><%= c.content %> <br>
                        <p style="font-size: 12px; padding-left: 50px">-<%= link_to User.find(c.author_id).username, user_path(c.author_id) %> </p></li>
                    <% end %>
                    </ul>
                    <% if @current_user_member %>
                        <%= link_to "New Comment", new_group_note_comment_path(note_id: @note.id) %>
                    <% end %>
                </div>
            </div>
        <%# </div> %>
    </div>
</div>

