<!DOCTYPE html>
<html>
  <head>
    <title>GroupIt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Group-It</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <style>
        body {
          background: rgb(163,163,163);
          background: linear-gradient(90deg, rgba(163,163,163,1) 0%, rgba(251,242,242,1) 54%, rgba(112,112,112,1) 100%);
          /* background: rgb(255,255,255);
          background: linear-gradient(-95deg, rgba(255,255,255,1) 0%, rgba(203,203,203,1) 100%); */
        }
        li {
          padding-left: 10px;
          padding-right: 10px;
        }
    </style>

  <div class="container">
  <div class="text-center">
    <h1 class="display-6" style="font-family: 'Fascinate Inline', cursive; color: #5c98ff;">Group-It</h1>
  </div>
  <nav class="navbar rounded navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <% if session[:user_id] %>
        <li><%= button_to "My Profile", user_path(current_user), { method: 'get', class: 'btn btn-outline-light btn-sm m-0 waves-effect' } %></li>
       <% end %> 
      <li><%= button_to "Groups", { action: 'index', controller: 'groups' }, {method: 'get', class: 'btn btn-outline-light btn-sm m-0 waves-effect' } %></li>
      <% if session[:group_id] && Group.first %>
        <li><%= button_to "My Notes", group_notes_path(group_id: session[:group_id]), {method: 'get', class: 'btn btn-outline-light btn-sm m-0 waves-effect' } %></li>
      <% end %>
      
    </ul>
    <span class="navbar-text">
      <% if session[:user_id] %>
        <%= link_to "Log Out", '/sessions', method: :delete %>
      <% end %>
    </span>
  </nav>
  </div>
  <!-- <%= button_to "Groups", { action: 'index', controller: 'groups' }, {method: 'get', type: 'button', class: 'btn-floating btn-lg btn-default' } %> -->
    <%= yield %>
  </body>
</html>
