<div>
    <h1>Group it member: <%= @user.username %></h1>
</div>

<div>
    <p><%= @user.username %> is from <%= @user.location %> and is <%= @user.age %> years old.</p>
</div>

<div>
    <p>Bio: <%= @user.bio %> </p>
</div>

