<h1>Login</h1>

<% if flash[:errors] %>
    <ul>
        <li><%= flash[:errors] %></li>
    </ul>
<% end %>

<%= form_tag sessions_path do %>
    <%= label_tag 'Username' %>
    <%= text_field_tag :username %><br>
    <%= submit_tag "Log In" %>
<% end %>

<p>Or <%= link_to "create an account", signup_path %></p>