<h1>Group</h1>

<% if @current_user_member %>
    <%= link_to "Create a Note", "/groups/#{@group.id}/notes/new" %>
<% else %>
    <% session[:group_id] = @group.id %>
    <%= link_to "Join this group", new_group_member_path %>
<% end %>

<h2><%= @group.title %></h2>
<h3><%= @group.theme %></h3>
<h3><%= @group.description %></h3>
<h3>This Group's Notes: </h3>
<ul>
    <% @notes.each do |note| %>
        <li><%= link_to note.title, group_note_path %></li>
    <% end %>
</ul>
<h3>This Group's Members: </h3>
<ul>
    <% @members.each do |member| %>
        <li><%= member.username %></li>
    <% end %>
</ul>